@if(cardsFailure){
<app-general-failure [backToStartEnable]="true"></app-general-failure>
}@else{

<div class="content">
  <span class="left-side">
    <app-my-cards
      (generalFailure)="getFailureStatus($event)"
      (shippingCard)="getShippingCard($event)"
      (shippingData)="getShippingData($event)"
    ></app-my-cards>
    <app-card-shipping-banner
      *ngIf="oderedPhysicalCard"
      [shippingCardData]="cardData"
    ></app-card-shipping-banner>
  </span>

  <span class="right-side">
    <app-cards-activity
      class="activity-container"
      (generalFailure)="getFailureStatus($event)"
    ></app-cards-activity>
  </span>
</div>
}
