<div class="container custom-card">
  <div class="row">
    <p class="secondary-500-light">Tus servicios e impuestos</p>
    <button mat-ripple class="mat-ripple btn-link-primary btn-md ng-star-inserted" *ngIf="!loading && (canCreatePhysical || canCreateVirtual)">
          <!--  (click)="createServicesAndTaxes()"> -->
      <span class="secondary-600-primary new-card" (click)="openFiltersPanelByBtn()"> Pagar nuevo servicio</span>
    </button>
  </div>
  <div class="mat-spinner-container">
    <mat-spinner *ngIf="loading" mode="indeterminate" [diameter]="40"></mat-spinner>
  </div>

  <!-- <div *ngIf="errors.length > 0" class="errors">
    <p *ngFor="let error of errors">{{ error }}</p>
    <button mat-ripple class="btn-link" (click)="getCards()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div> -->



  <!-- List of services -->
  <div *ngIf="!loading && activities.length" class="activities-container">
    <div class="activity-item" *ngFor="let activity of activities" (click)="onActivityClick(activity)">

      <div class="activity-info">
        <div class="rounded-icon">
          <mat-icon *ngIf="activity.category=='SERVICIO DE GAS'" class="material-symbols-outlined">local_fire_department</mat-icon>
          <mat-icon *ngIf="activity.category=='SERVICIO DE LUZ'" class="material-symbols-outlined">local_fire_department</mat-icon>
          <mat-icon *ngIf="activity.category=='Electricidad'" class="material-symbols-outlined">lightbulb</mat-icon>
          <mat-icon *ngIf="activity.category=='Agua'" class="material-symbols-outlined">water_drop</mat-icon>
          <mat-icon *ngIf="activity.category=='Internet'" class="material-symbols-outlined">wifi</mat-icon>
          <mat-icon *ngIf="activity.category=='Telefonía'" class="material-symbols-outlined">phone_iphone</mat-icon>
          <mat-icon *ngIf="activity.category=='CREDITOS'" class="material-symbols-outlined">attach_money </mat-icon>
          <mat-icon *ngIf="activity.category=='IMPUESTOS Y CONTRIBUCIONES'" class="material-symbols-outlined">account_balance</mat-icon>
          <mat-icon *ngIf="activity.category=='FINANCIERO'" class="material-symbols-outlined">payments</mat-icon>
          <mat-icon *ngIf="activity.category=='COSMETICOS'" class="material-symbols-outlined">spa</mat-icon>
          <mat-icon *ngIf="activity.category=='OTROS'" class="material-symbols-outlined">category</mat-icon>


        </div>
        <div class="details">
          <div class="secondary-500-light">
            {{activity.company_name ? activity.company_name : "Sin descripción"}}
          </div>
          <div class="paragraph-600">
            {{activity.category ? activity.category : "Catagoría desconocida"}}
            <span *ngIf="activity.total_accounts > 1" class="text-gray"> ({{ activity.total_accounts }} cuentas adheridas)</span>
          </div>
          <!-- <div class="activity-amount">


        </div> -->
        </div>
      </div>
      <div class="activity-amount">
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <!-- <mat-icon>edit</mat-icon> -->
            <mat-icon>settings</mat-icon>
            <span>Configurar</span>
          </button>
          <button mat-menu-item class="red-button" (click)="openConfirmationDialog(activity.company_name, activity.company_code)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>


  <div *ngIf="!loading && errors.length === 0 && (!activities || activities.length === 0)">
    <p>No hay servicios adheridos</p>
    <p>Agrega uno desde el boton de arriba</p>
  </div>

  <button *ngIf="!loading && (canCreatePhysical || canCreateVirtual)" class="btn-cta-filled w-100 btn-lg" (click)="openFiltersPanelByBtn()">
    <span class="plus-sign">+</span> Pagar nuevo servicio
  </button>

</div>
