.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center; /* Align items to the start (left) by default */
  .header-container {
    padding: 0 2em;
    height: 100%;
    background-color: #004ADD;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 0 0 80px 0;
    span {
      padding-top: 5%;
      padding-bottom: 2%;
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #FFFFFF;
      font-family: Figtree, "Helvetica Neue", sans-serif;
    }
    h1 {

      margin: 0;
      font-size: 36px;
      line-height: 47.88px;
      font-weight: 700;
      font-family: Figtree, "Helvetica Neue", sans-serif;
      color: #FFFFFF;
    }
  }
  .login-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically */
    gap: 1em;
    padding: 1em;

    h2 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      font-family: Figtree, "Helvetica Neue", sans-serif;
      color: #161616;
    }
    mat-form-field {
      width: 100%; /* Full width of the form field */
      margin-bottom: 1px; /* Add some spacing between form fields */
    }

    .button-container {
      display: flex;
      width: 100%;
      gap: 10px; /* Space between buttons */
      flex-direction: column;
      align-items: center;
      padding-top: 1.2rem;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;

    }
    .pin-error-message {
      display: flex;
      align-items: center;
      background-color: #dbbcb8;
      color: #680707;
      padding: 5px;
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid #dbbcb8;
      font-size: 14px;

      mat-icon {
        font-size: 24px;
        margin-right: 8px;
        color: #680707;
      }
    }

  }


  .buttons {
    flex: 1;
    display: flex;
    gap: 10px; /* Space between buttons */
    /* Flex direction is row by default, so buttons are horizontal on web */
    flex-direction: row;

    button {
      padding: 8px 16px; /* Add padding for better appearance */
    }
  }
}

/* Media query for mobile */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: unset;

    .header-container {
      padding: 1em;
      height: unset;
      width: unset;
    }

    .login-form {
      padding: 1em;
      width: unset;
    }
  }
}
