<div class="content">
  <app-side-panel-header
    [title]="'Ver datos de mi tarjeta'"
    [arrowBackEnabled]="steps[currentStep] !== 'viewCard'"
    (arrowBack)="handleArrowBack()"
    [confirmRequired]="true"
    (closePressed)="close()"
  ></app-side-panel-header>
  @if (loading) {
  <div class="loading-container">
    <mat-spinner class="center-spinner"></mat-spinner>
  </div>
  } @else {
  <!-- step validate with otp -->
  <div class="otp-validation" *ngIf="steps[currentStep] === 'otp'">
    <app-otp-input
      [OTPdescription]="
        'Copia acá ese código para poder ver los datos de tu tarjeta'
      "
      [userMail]="email"
      [session]="session"
      [challengeName]="challengeName"
      (buttonText)="handleButtonText($event)"
      (buttonEnabled)="handleButtonEnabled($event)"
      (otpValidated)="otpValidatedOK()"
    ></app-otp-input>
    <app-messages class="w-100"></app-messages>
    <app-side-panel-footer
      class="w-100"
      [buttonText]="buttonText"
      buttonStyle="filled"
      [buttonDisabled]="!buttonEnabled"
      (buttonClicked)="submitOtp()"
    ></app-side-panel-footer>
  </div>

  <div *ngIf="steps[currentStep] === 'viewCard'" class="view-card-container">
    <div *ngIf="errors.length > 0" class="errors">
      <p *ngFor="let error of errors">{{ error }}</p>
      <button mat-ripple class="btn-link" (click)="getCardIframeUrl(data.id)">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="card-iframe-container">
      <div *ngIf="!isIframeReady" class="loading-container">
        <mat-spinner class="center-spinner"></mat-spinner>
      </div>
      <iframe
        *ngIf="!loading"
        [src]="iframeUrl"
        [ngStyle]="{ visibility: isIframeReady ? 'visible' : 'hidden' }"
        (load)="onIframeLoad()"
        frameborder="0"
        width="100%"
        height="100%"
        class="card-iframe"
      >
      </iframe>
    </div>
    <app-side-panel-footer
      class="w-100"
      [buttonText]="'Cerrar (' + (timeLeft | secondsToTimeString) + ')'"
      buttonStyle="ghost"
      (buttonClicked)="close()"
    ></app-side-panel-footer>
    <!-- <button mat-ripple class="btn btn-ghost" (click)="close()">
      Cerrar ({{ timeLeft | secondsToTimeString }})
    </button> -->
  </div>
  }
</div>
