<div class="custom-container">
  <app-side-panel-header
    title="Ajustes"
    [arrowBackEnabled]="selectedOption !== 'success'"
    (arrowBack)="onSelect(null)"
  ></app-side-panel-header>

  <div [ngSwitch]="selectedOption" class="content-container" @fadeSlideRight>
    <div class="submenu" *ngSwitchCase="'Métodos de pago habilitados'">
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">{{ selectedOption }}</h2>
        <div class="toggle-configurations-container">
          <mat-slide-toggle labelPosition="before" checked>
            <mat-icon class="material-symbols-outlined"
              >chip_extraction</mat-icon
            >
            Retiros en cajeros
          </mat-slide-toggle>
          <mat-slide-toggle labelPosition="before" checked>
            <mat-icon class="material-symbols-outlined">language</mat-icon>
            Pagos online
          </mat-slide-toggle>
          <mat-slide-toggle labelPosition="before" checked>
            <mat-icon class="material-symbols-outlined">sim_card</mat-icon>
            Transacciones con chip y PIN
          </mat-slide-toggle>
          <mat-slide-toggle labelPosition="before">
            <mat-icon class="material-symbols-outlined">wallet</mat-icon>
            Billeteras electrónicas
          </mat-slide-toggle>
        </div>
        <button mat-button class="btn btn-cta" (click)="save()">Guardar</button>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'Límites'" @fadeSlideLeft>
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">{{ selectedOption }}</h2>
        <div class="radio-configurations-container">
          <mat-radio-group>
            <mat-radio-button
              color="primary"
              labelPosition="before"
              value="1"
              checked
            >
              {{
                1000000 | currency : "$" : "symbol-narrow" : "1.2-2" : "en-US"
              }}
            </mat-radio-button>
            <mat-radio-button color="primary" labelPosition="before" value="2">
              {{
                750000 | currency : "$" : "symbol-narrow" : "1.2-2" : "en-US"
              }}
            </mat-radio-button>
            <mat-radio-button color="primary" labelPosition="before" value="3">
              {{
                500000 | currency : "$" : "symbol-narrow" : "1.2-2" : "en-US"
              }}
            </mat-radio-button>
            <mat-radio-button color="primary" labelPosition="before" value="4">
              {{
                250000 | currency : "$" : "symbol-narrow" : "1.2-2" : "en-US"
              }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button mat-button class="btn-cta-filled" (click)="save()">
          Guardar
        </button>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'Cambiar PIN'" @fadeSlideLeft>
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">{{ selectedOption }}</h2>
        <div class="pin-configurations-container">
          <input type="text" placeholder="Ingresa tu PIN actual" />
          <input type="text" placeholder="Ingresa un nuevo PIN" />
        </div>
        <button mat-button class="btn btn-cta" (click)="save()">Guardar</button>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'Nombre de tarjeta'" @fadeSlideLeft>
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">Cambiar nombre de la tarjeta</h2>
        <div class="card-name-configurations-container">
          <div class="form-container">
            <div
              class="form-input-box"
              [ngClass]="{ error: this.isTouched && !isFormValid() }"
            >
              <div class="form-input-data">
                <p
                  class="caption-500-light m-0 p-0"
                  [ngClass]="{ active: cardName.isFocused || cardName.value }"
                >
                  Nombre de la tarjeta
                </p>
                <input
                  class="form-input-edit paragraph-500"
                  [(ngModel)]="cardName.value"
                  (focus)="onFocus(cardName)"
                  (blur)="onBlur(cardName)"
                  [type]="'text'"
                />
              </div>
            </div>
            <mat-error class="form-error" *ngIf="isRequiredError()">
              <mat-icon class="material-symbols-outlined">error</mat-icon>
              El nombre es requerido.
            </mat-error>
            <mat-error class="form-error" *ngIf="isMinLengthError()">
              <mat-icon class="material-symbols-outlined">error</mat-icon>
              El nombre debe tener al menos 3 caracteres.
            </mat-error>
          </div>
          <app-messages class="w-100"></app-messages>
          <!-- <form [formGroup]="displayNameForm">
            <div class="form-container">
              <mat-label>Nombre de la tarjeta</mat-label>
              <input
                type="text"
                placeholder="{{ data.alias }}"
                formControlName="alias"
              />
              <mat-error
                class="form-error"
                *ngIf="
                  displayNameForm.get('name')?.hasError('required') &&
                  displayNameForm.get('name')?.touched
                "
              >
                <mat-icon class="material-symbols-outlined">error</mat-icon>
                El nombre es requerido.
              </mat-error>
              <mat-error
                class="form-error"
                *ngIf="displayNameForm.get('name')?.hasError('minlength')"
              >
                <mat-icon class="material-symbols-outlined">error</mat-icon>
                El nombre debe tener al menos 3 caracteres.
              </mat-error>
            </div>

          </form> -->
          <app-side-panel-footer
            class="w-100"
            [buttonText]="'Guardar'"
            buttonStyle="filled"
            [buttonDisabled]="loading || !isFormValid()"
            (buttonClicked)="changeCardName()"
          ></app-side-panel-footer>
        </div>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'Cancelar tarjeta'" @fadeSlideLeft>
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">{{ selectedTitle }}</h2>
        <div class="cancel-card-configurations-container">
          <p>
            Antes de cancelar tu tarjeta, deberás tener en cuenta lo siguiente:
          </p>
          <ol>
            <li>
              Asegúrate de tener métodos alternativos para acceder a tus fondos
              y realizar pagos comerciales.
            </li>
            <li>Verifica si hay transacciones pendientes antes de proceder.</li>
            <li>
              Considera solicitar una nueva tarjeta
              {{ data.type == "VIRTUAL" ? " virtual " : " física " }} para las
              operaciones del negocio.
            </li>
            <li>
              La cancelación de tu tarjeta
              {{ data.type == "VIRTUAL" ? " virtual " : " física " }} es una
              acción irreversible.
            </li>
          </ol>
        </div>
        <div *ngIf="loading" class="progress-bar-loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <app-side-panel-footer
          class="w-100"
          [buttonText]="'Cancelar tarjeta'"
          buttonStyle="filled"
          [buttonDisabled]="false"
          (buttonClicked)="cancelCard()"
          [buttonDisabled]="loading"
        ></app-side-panel-footer>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'Denunciar pérdida'" @fadeSlideLeft>
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">Denunciar pérdida de tarjeta</h2>
        <div class="cancel-card-configurations-container">
          <p>
            Al denunciar la pérdida, tu tarjeta se cancelará inmediatamente.
            Antes de denunciarlo, deberás tener en cuenta lo siguiente:
          </p>
          <ol>
            <li>
              Verificar si hay transacciones pendientes en las que debas
              modificar el método de pago.
            </li>
            <li>
              Solicitar una nueva tarjeta para las operaciones del negocio.
            </li>
            <li>
              Controlar los movimientos de tu cuenta y denunciar si encontrás un
              movimiento que no reconocés.
            </li>
            <li>
              La denuncia de la pérdida de tu tarjeta es una acción irreversible
              y su reposición tiene un costo de {{ lostCardCurrency }}
              {{ lostCardAmount }}.
            </li>
            <li>
              Si creés que todavía podrías encontrar tu tarjeta, te damos la
              opción de pausarla hasta que puedas activarla nuevamente.
            </li>
          </ol>
        </div>
        <div *ngIf="loading" class="progress-bar-loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <app-side-panel-footer
          class="w-100"
          [buttonText]="'Volver al inicio'"
          buttonStyle="two"
          buttonLeftText="Pausar tarjeta"
          buttonRightText="Denunciar pérdida"
          (buttonRightClicked)="save()"
          (buttonLeftClicked)="pauseCard()"
          [buttonDisabled]="loading"
        ></app-side-panel-footer>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'Denunciar robo'" @fadeSlideLeft>
      <div class="menu-content" *ngIf="!sliding" @fadeSlideLeft>
        <h2 class="heading-5-700">Denunciar robo de tarjeta</h2>
        <div class="cancel-card-configurations-container">
          <p>
            Al denunciar el robo, <b>tu tarjeta se cancelará inmediatamente.</b>
            Antes de denunciarlo, deberás tener en cuenta lo siguiente:
          </p>
          <ol>
            <li>
              Verificar si hay transacciones pendientes en las que debas
              modificar el método de pago.
            </li>
            <li>
              Solicitar una nueva tarjeta para las operaciones del negocio.
            </li>
            <li>
              Controlar los movimientos de tu cuenta y denunciar si encontrás un
              movimiento que no reconocés.
            </li>
            <li>
              Es importante que sepas que la denuncia del robo de tu tarjeta es
              una acción irreversible y su reposición tiene un costo de
              {{ lostCardCurrency }} {{ lostCardAmount }}.
            </li>
          </ol>
        </div>
        <app-side-panel-footer
          class="w-100"
          buttonStyle="filled"
          buttonText="Denunciar robo"
          (buttonClicked)="save()"
          [buttonDisabled]="false"
        ></app-side-panel-footer>
      </div>
    </div>

    <div class="submenu" *ngSwitchDefault>
      <div class="menu-list" *ngIf="!sliding" @fadeSlideRight>
        <div class="menu-item" *ngFor="let item of menu">
          <div
            class="settings-item-row clickable"
            (click)="onSelect(item)"
            [ngClass]="{ last: item.last }"
          >
            <p class="paragraph-600 p-0 m-0">{{ item.name }}</p>

            <div class="btn-ghost-black">
              <mat-icon class="material-symbols-outlined"
                >chevron_right</mat-icon
              >
            </div>
          </div>
          <!-- <div class="menu-link" (click)="onSelect(item)" [ngClass]="{'disabled-link': item.status === 'DISABLED'}">
            {{ item.name }}
            <mat-icon class="material-symbols-outlined">chevron_right</mat-icon>
          </div> -->
        </div>
      </div>
    </div>

    <div class="submenu" *ngSwitchCase="'success'" @fadeSlideLeft>
      <div class="success-change">
        <div *ngIf="successImg" [innerHTML]="successImg"></div>
        <h1 class="heading-4-700 m-0 p-0">{{ successTitle }}</h1>
        <p class="paragraph-500 m-0 p-0">
          {{ successMessage }}
        </p>
      </div>
      <app-side-panel-footer
        class="w-100"
        [buttonText]="'Finalizar'"
        [buttonStyle]="pauseRequest ? 'ghost' : 'two'"
        buttonLeftText="Finalizar"
        buttonRightText="Pedir nueva tarjeta"
        [buttonDisabled]="false"
        (buttonLeftClicked)="closePanel()"
        (buttonRightClicked)="createCard()"
      ></app-side-panel-footer>
    </div>
  </div>
</div>
