<div class="activate-card-container">
  <app-side-panel-header
    [title]="'Activar tarjeta'"
    [arrowBackEnabled]="steps[currentStep] !== 'activateCard'"
    (arrowBack)="handleArrowBack()"
  ></app-side-panel-header>

  <div class="activate-content">
    @if (isLoading ) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    } @else {
    <div *ngIf="steps[currentStep] === 'otp'" class="otp-validation">
      <app-otp-input
        [OTPdescription]="'Copia acá ese código para poder activar tu tarjeta'"
        [userMail]="email"
        [session]="session"
        [challengeName]="challengeName"
        (buttonText)="handleButtonText($event)"
        (buttonEnabled)="handleButtonEnabled($event)"
        (otpValidated)="otpValidatedOK()"
      ></app-otp-input>
      <app-messages class="w-100"></app-messages>
      <app-side-panel-footer
        class="w-100"
        [buttonText]="buttonText"
        buttonStyle="filled"
        [buttonDisabled]="!buttonEnabled || isLoading"
        (buttonClicked)="submitOtp()"
      ></app-side-panel-footer>
    </div>

    <div *ngIf="steps[currentStep] === 'activateCard'" class="activate-form">
      <iframe
        *ngIf="!isLoading"
        [src]="iframeUrl"
        [ngStyle]="{ visibility: isIframeReady ? 'visible' : 'hidden' }"
        (load)="onIframeLoad()"
        frameborder="0"
        width="100%"
        height="100%"
        class="activate-iframe"
      >
      </iframe>
    </div>
    }
  </div>
</div>
