.custom-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  height: 100%;


  .content-container {
    height: 100%;
  }



  .submenu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;

    .menu-list {

      display: flex;
      flex-direction: column;
      border-radius: 12px;
      border: 1px solid #ebebeb;
      box-shadow: none;

      .settings-item-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        gap: 1em;
        border-bottom: 1px solid #f4f4f4;
        &.last {
          border-bottom: none;
        }
        &:hover {
          background-color: #f5f5f5;
        }
        .btn-ghost-black {
          background-color: transparent;
          align-self: baseline;
          padding: 0;
          color: #161616;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      .heading-5-700 {
        margin: 0;
        padding: 1em 0;
      }
      .progress-bar-loading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1em 0px;
        width: 100%;
       }
      .toggle-configurations-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;

        // empieza la asquerosidad de customizar el input
        mat-slide-toggle {
          width: 100%;
          margin: 0;

          ::ng-deep .mdc-form-field {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 1em;
            border-bottom: 1px solid #ccc;

            .mdc-label {
              display: flex;
              align-items: center;
              gap: 5px;
              text-align: left;
              margin: 0;
              width: 100%;
              user-select: none;

              .material-symbols-outlined {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                line-height: 24px;
              }
            }

            .mdc-switch {
              .mdc-switch__track {
                background-color: #f2f2f2;
                height: 24px;
                border-radius: 100px;
                border: 1px solid #ccc;
                &::after {
                  background-color: #2fad69;
                }
              }
              .mdc-switch__handle {
                background-color: white;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                margin-left: 4px;

                .mdc-switch__shadow {
                  display: none;
                }

                .mdc-switch__ripple {
                  display: none;
                }

                .mdc-switch__thumb {
                  display: none;
                }

                .mdc-switch__icons {
                  display: none;
                }

                &::after {
                  content: none;
                }
              }

              &.mdc-switch--disabled {
                opacity: 0.5;
              }

            }
          }
        }

        // fin de la asquerosidad de customizar el input
      }

      .radio-configurations-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;

        mat-radio-group {
          display: flex;
          flex-direction: column;
          gap: 10px;
          user-select: none;

          mat-radio-button {
            width: 100%;
            margin: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;

            ::ng-deep .mdc-form-field {
              width: 100%;

              .mdc-radio {
                .mdc-radio__background {
                  .mdc-radio__outer-circle {
                    border-color: #ccc;
                    background-color: #f2f2f2;
                  }

                  .mdc-radio__inner-circle {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border-color: white;
                  }
                }

                .mat-ripple {
                  display: none;
                }
              }

              .mdc-label {
                width: 100%;
              }
            }

            &.mat-mdc-radio-checked {
              ::ng-deep .mdc-form-field {
                .mdc-radio {
                  .mdc-radio__background {
                    .mdc-radio__outer-circle {
                      border-color: #fa0050;
                      background-color: #fa0050;
                    }
                    .mdc-radio__inner-circle {
                      border-color: white;
                      transform: scale(0.4);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .pin-configurations-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;

        input {
          margin: 0;
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 10px;
          color: #333;
        }
      }

      .card-name-configurations-container {
        @extend .pin-configurations-container;
        .form-container {
          display: flex;
          flex-direction: column;
          gap: 1em;
          flex: 1;
        }
        .input-box {
          display: flex;
          height: 56px;
          justify-content: space-between;
          width: 100%;
          padding: 4px 16px;
          border-radius: 8px;
          border: 1px solid #DBDBDB;
          position: relative;
          &:hover{
            border-color: #696767;
          }
          &.error {
              border-color: #E44B52;
            }

          .input-data {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 0; // Ensure no padding to eliminate extra space
            // align-items: flex-start;
            // justify-content: center; /* Center items vertically in the available space */
            transition: all 0.2s ease-in-out;
            position: relative;

            p {
              font-size: 16px;
              line-height: 24px;
              margin: 0; // Remove margin to avoid extra space
              padding: 0;
              transition: all 0.2s ease-in-out;
              pointer-events: none;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              &.active {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 4px; // Control spacing above the input
                transform: translateY(-100%);
              }
            }

            .input-edit {
              display: flex;
              flex: 1; // Allow input to grow and fill the container
              border: none;
              align-self: flex-end;
              outline: none;
              height: 100%;
              width: 100%;
              padding: 1.5em 0 0;

              &:hover,
              &:focus,
              &:active {
                border: none;
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1em;
          flex: 1;

          .form-container {
            display: flex;
            flex-direction: column;
            gap: 1em;
            flex: 1;

            input {
              margin: 0;
              border: 1px solid #ccc;
              border-radius: 8px;
              padding: 10px;
              color: #333;
            }
          }
        }
      }

      .cancel-card-configurations-container {
        display: flex;
        flex-direction: column;

        flex: 1;

        p {
          margin: 0;
        }
        ol {
          display: flex;
          flex-direction: column;
          gap: 1em;
          margin-left: 0.5em;
          padding: 0;
          padding-left: 1em;
          //list-style: circle;
          li {
            margin: 0;
            padding: 0;
            color: #333;
          }
        }
      }
      .btn {
        flex: 0;
      }
    }

    .success-change {

      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex:1;
      p,h1 {
        width: 60%;
      }
    }

  }
}
