<div class="card-component">
  <mat-card
    class="card-banner"
    matBadge="Próximamente"
    matBadgePosition="above"
  >
    <mat-card-header>
      <mat-card-title>Card</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span class="card-text"
        >Para que tus comercios puedan utilizar los fondos disponibles, pagar a
        proveedores, realizar gastos corporativos y tener el 100% del control de
        sus finanzas</span
      >
      <div class="button-container">
        <button mat-raised-button [disabled]="true">Pedir ahora</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
