<div [ngClass]="{'fixed-height': !showMoreContacts}">
  <div *ngIf="actualScreen == 'chooseAccount'">
    <!-- Pantalla de elegir cuenta -->
    <mat-divider></mat-divider>
      <div class="form-group">
          <mat-label>Ingresá el CBU, CVU o alias</mat-label>
          <input #accountInput matInput class="account-input" [(ngModel)]="inputAccount" (ngModelChange)="validateAccount()">
      </div>
      <div class="button-group centered-buttons">
        <button mat-raised-button color="primary" (click)="confirmNewAccount()" [disabled]="!isAccountValid">Continuar</button>
      </div>
    <mat-divider style="margin-top: 10px;margin-bottom: 10px;"></mat-divider>
    <mat-label>Selecciona un contacto guardado</mat-label>
    <div class="search-container">
      <input
        #contactInput
        [(ngModel)]="searchTerms"
        (ngModelChange)="filterContacts()"
        name="searchTerms"
        class="search-input"
        required>
      <button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="contacts-grid">
      <div
        *ngFor="let contact of filteredContacts"
        class="contact-item"
        (click)="navigateToTransfer(contact)">
        <div class="avatar">{{ contact.initials }}</div>
        <div class="contact-name">{{ contact.name }}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
</div>

<div *ngIf="actualScreen == 'diary'" class="screen-container centered">
  <h2 class="title">Buscar contacto</h2>

  <div class="search-container">
    <input
      #contactInput
      [(ngModel)]="searchTerms"
      (ngModelChange)="filterContacts()"
      name="searchTerms"
      class="search-input"
      required>
    <button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="contacts-grid">
    <div
      *ngFor="let contact of filteredContacts"
      class="contact-item"
      (click)="navigateToTransfer(contact)">
      <div class="avatar">{{ contact.initials }}</div>
      <div class="contact-info">
        <div class="contact-name">{{ contact.name }}</div>
        <div class="contact-bank">{{ contact.bank_name }}</div>
      </div>
      <mat-icon class="contact-icon">chevron_right</mat-icon>
    </div>
  </div>

  <button mat-button color="primary" (click)="goBack()">Regresar</button>
</div>



<div *ngIf="actualScreen == 'newAccount'" class="screen-container centered">
  <mat-divider></mat-divider>
  <div class="form-group">
      <mat-label>Ingresá el CBU, CVU o alias</mat-label>
      <input #accountInput matInput class="account-input" [(ngModel)]="inputAccount" (ngModelChange)="validateAccount()">
  </div>
  <div class="button-group centered-buttons">
    <button mat-button color="primary" (click)="goBack()">Regresar</button>
    <button mat-raised-button color="primary" (click)="confirmNewAccount()" [disabled]="!isAccountValid">Continuar</button>
  </div>
</div>

<div *ngIf="actualScreen == 'infoAccount'" class="screen-container centered">
  <h2 class="title">¿Esta es la cuenta a la que querés transferir?</h2>
  <mat-divider></mat-divider>
  <div class="account-info">
    <div class="account-info-name"><strong>{{accountSelected?.name}}</strong></div>
    <div><strong>CUIT:</strong> {{accountSelected?.document_number}}</div>
    <div><strong>{{accountSelected?.cvu && accountSelected?.cvu !== "" ? 'CVU' : 'CBU'}}:</strong> {{accountSelected?.cvu && accountSelected?.cvu !== "" ? accountSelected?.cvu : accountSelected?.cbu}}</div>
    <div><strong>Entidad bancaria:</strong> {{accountSelected?.bank_name}}</div>
  </div>
  <div class="button-group centered-buttons">
    <button mat-button color="primary" (click)="goBack()">Regresar</button>
    <button mat-raised-button color="primary" (click)="showAmountScreen()">Continuar</button>
  </div>
</div>


  <div *ngIf="actualScreen == 'chooseAmount'" class="screen-container centered">
    <h2 class="title">Elegí el monto que vas a transferir</h2>
    <div>Vas a transferir a {{accountSelected.name}}</div>

      <input   #amountInput
      [(ngModel)]="inputAmount"
      name="inputAmount"
      class="amount-input"
      matInput
      (focus)="handleFocus($event)"
      (keydown)="handleKeyDown($event)"
      required>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="button-group centered-buttons">
      <button mat-button color="primary" (click)="goBack()">Regresar</button>
      <button mat-raised-button color="primary" (click)="showReviewTransfer()"
              [disabled]="!isInputAmountValid()">Continuar</button>
    </div>
  </div>

  <div *ngIf="actualScreen == 'reviewTransfer'" class="screen-container centered">
    <h2 class="title">Revisa si está todo bien</h2>
    <div class="review-item">
      <div>Vas a transferir:  <br><strong>${{inputAmount}}</strong></div>
      <button mat-icon-button (click)="editAmount()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="review-item">
      <div>Para: <br><strong>{{accountSelected?.name}}</strong></div>
      <div>Entidad bancaria: <br> <strong>{{accountSelected?.bank}}</strong></div>
      <button mat-icon-button (click)="editAccount()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="review-item">
      <div>Motivo: <br> <strong>{{transferReason}}</strong></div>
      <button mat-icon-button (click)="editReason()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="button-group centered-buttons">
      <button mat-button color="primary" (click)="goBack()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="goToPinScreen()">Transferir</button>
    </div>
  </div>

  <div *ngIf="actualScreen == 'pin'" class="screen-container centered" (keydown.enter)="showAmountScreen()" (keydown.backspace)="goBack()">
    <h2 class="title">Firmar operacion OTP</h2>

  </div>
  <!-- Más contenido... -->
</div>
