.slider-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .overlay-logo {
      padding: 1em;
    }

    .background-image {
      max-width: 300px;
      width: 300px;
      height: 100%;
      //object-fit: contain;
      background-repeat: no-repeat;
      background-position: center;
     // background-size: contain;
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 4em;
    margin-bottom: 3em;
    gap: 1em;

    h1 {
      font-size: 28px;
      margin: unset;
    }

    p {
      font-size: 16px;
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: 840px) {
  .slider-page {
    flex-grow: 1;
    .image-container {
      background-color: #F50050;
      border-bottom-right-radius: 100px;
    }

    .content {
      box-shadow: none;
      padding: 2em;
    }
  }
}
