@use '@angular/material' as mat; // Import Angular Material theming utilities

.welcome-full-content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 100vh; /* Full viewport height */
  flex-direction: column;
}

.set-password-container {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

line-stepper {
  width: 100%;
}

.section-content {
  width: 100%;
  padding-top: 4px;
  flex:1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;

  form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form-container {
  max-width: none; // Remove max-width constraint
  flex:1;
  mat-form-field  {
    width: 100%; /* Full width of the form fields container */
  }
}
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    button {
      width: 100%;
      flex-grow: 1;
    }
  }

.password-requirements {
  .list-wrapper{
    color: #6B6B6B;
    padding-left: 0;
  }
  li {
    list-style-type: none;
    padding-bottom: 1%;

    .fulfilled{
      color: #048A42;
    }
  }

  .requirement-item {
    display: flex;
    align-items: center;
  }

  .check-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding-right: 4px;
    color: #048A42;
  }
  .unchecked-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-right: 4px;
    color: #A3A3A3;
  }

}

@media screen and (max-width: 840px) {
  .set-password-container {
    margin-top: 0em;
    width: 100%;
    flex: 1;
    padding: 20px;
    form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80vh;
      .form-container{
        flex:1;
      }
      .button-container {
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

  }
}
