.pin-code-validation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-content {
  padding-top: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}


form{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .pin-form-container{
    flex:1;
  display: flex;
  flex-direction: column;
  }
}



.button-container {
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media screen and (max-width: 840px) {
  .pin-code-validation-container {
    width: 100dvw;
    padding: 20px;
    height: 100dvh;
    .button-container {
      position: sticky; // Stick the button to the bottom
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%; // Full width for the button container
    }
  }
}

// iPhone-specific adjustments
@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .pin-code-validation-container {
    height: 100dvh; /* Ensure dynamic viewport height is used */
    padding: 1em;
  }
    .pin-form {
      .pin-form-container {
        padding-top: 10px; /* Reduce padding for smaller iPhone screens */
      }

      .button-container {
        padding: 10px; /* Reduce padding for smaller iPhone screens */
      }
    }
}
