.auth-container {
  padding: 5%;
}

.return-arrow {
  padding-left: 4%;
  padding-top: 5%;

  mat-icon {
    color: #161616;
  }
}

.header {
  width: 90%;
  align-items: center;
  text-align: left;
  padding: 10px;

  h1 {
    font-size: 28px;
    color: #161616;
    font-weight: 700;
    line-height: 37.24px;
  }

  p {
    font-size: 16px;
    color: #6b6b6b;
    font-weight: 500;
    line-height: 24px;
  }
}

.form-container {
  width: 100%;
  /* Width of the container relative to the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  /* Center contents vertically */

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  mat-form-field {
    flex-grow: 1;
  }

  .use-id-address {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .custom-radio-group-col {
      display: flex;
      flex-direction: column;
    }

    .add-address-button {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #e21b70;
      margin: 0;
      padding: 2% 0;
      background-color: transparent;
      border: none;
      font-size: 16px;
      font-weight: 600;
      text-align: left;

      &:disabled {
        color: #a3a3a3;
        /* Disabled text color */
      }
    }

    mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
      margin-right: 0;
      font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 20;
    }
  }

  .addr-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button-container {
    display: flex;
    flex-grow: 1;

    button {
      display: flex;
      flex-grow: 1;
      padding: 1.5em;
      border-radius: 8px;
      border-color: #ea044e;
      background-color: #ea044e;
      font-size: 16px;
      font-weight: 600;
      color: white;

      &.sticky {
        position: sticky; //sticky for Address form enabled
        bottom: unset;
      }

      &:disabled {
        background-color: #cccccc;
        /* Disabled background color */
        border-color: #cccccc;
        /* Disabled border color */
        color: #666666;
        /* Disabled text color */
        cursor: not-allowed;
        /* Change cursor to indicate disabled state */
      }
    }
  }
}
