<div class="otp-screen-container w-100">
  <app-custom-header-onb
    [title]="''"
    [description]="''"
    [isMobile]="isMobile"
    (arrowBack)="returnToEmailForm()"
  ></app-custom-header-onb>
  <div class="otp-content">
    <app-otp-input
      [debugMode]="debugMode"
      [OTPdescription]="headerDescription"
      [emailValidation]="true"
      [userMail]="emailOTP"
      [session]="session"
      [challengeName]="challengeName"
      (buttonText)="handleButtonText($event)"
      (buttonEnabled)="handleButtonEnabled($event)"
      (otpValidated)="otpValidatedOK()"
    ></app-otp-input>
  </div>
  <app-messages class="left-aligned-message w-100"></app-messages>

  <div class="button-container w-100">
    <button
      class="btn-cta-filled paragraph-600"
      type="button"
      (click)="submitOtp()"
      [disabled]="!buttonEnabled"
    >
      <span>{{ buttonText }} </span>
    </button>
  </div>
</div>
