<div class="edit-credentials-wrapper">
  @switch (credentialOpt) {
    @case ("start") {
      <app-side-panel-header
        [title]="'Seguridad'"
        [arrowBackEnabled]="true"
        (arrowBack)="handleArrowBack()"
      ></app-side-panel-header>

      <div class="verification-methods">
        <h1 class="heading-5-600">Método de verificación</h1>
        <div class="input-box" id="name-input">
          <div class="input-data">
            <p class="caption-500-light m-0 p-0">Contraseña</p>
            <span class="paragraph-500">************</span>
          </div>
          <div class="actions-button">
            <button
              mat-icon-button
              class="outline-button"
              (click)="changeRecoveryOpt('password')"
            >
              <mat-icon class="material-symbols-outlined"
                >mode_edit_outline</mat-icon
              >
            </button>
          </div>
        </div>
        <div class="input-box" id="name-input">
          <div class="input-data">
            <p class="caption-500-light m-0 p-0">PIN</p>
            <span class="paragraph-500">******</span>
          </div>
          <div class="actions-button">
            <button
              mat-icon-button
              class="outline-button"
              (click)="changeRecoveryOpt('pin-code')"
            >
              <mat-icon class="material-symbols-outlined"
                >mode_edit_outline</mat-icon
              >
            </button>
          </div>
        </div>
      </div>
    }
    @case ("password") {
      <app-change-password
        class="h-100"
        (backToCredentials)="changeRecoveryOpt('start')"
        (backToSecurityPanel)="handleArrowBack()"
      ></app-change-password>
    }
    @case ("pin-code") {
      <app-change-pin
        class="h-100"
        (backToCredentials)="changeRecoveryOpt('start')"
        (backToSecurityPanel)="handleArrowBack()"
      ></app-change-pin>
    }
  }
</div>
