$icon-button-size: 24px;

.edit-credentials-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  flex: 1;

  .verification-methods {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .input-box {
      display: flex;
      height: 56px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid #dbdbdb;

      .input-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .actions-button {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        .outline-button {
          padding: 0;
          margin: 0;
          width: $icon-button-size;
          height: $icon-button-size;
          min-width: $icon-button-size;
          min-height: $icon-button-size;
          line-height: $icon-button-size;
        }
      }
    }
  }

  .h-100 {
    height: 100%;
  }
}
