<div class="password-validation-container">
  <app-custom-header-onb
    [title]="'Ingresá tu contraseña'"
    [description]="''"
    [isMobile]="isMobile"
    (arrowBack)="returnToOptions()"
  ></app-custom-header-onb>
  <div class="section-content">
    <form [formGroup]="passwordForm" (ngSubmit)="submitPass()">
      <div class="password-form-container">
        <mat-form-field appearance="outline">
          <mat-label>Ingresa tu contraseña </mat-label>
          <input
            matInput
            id="password"
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            tabindex="-1"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-error class="form-error" *ngIf="incorrectPass">
          <mat-icon class="material-symbols-outlined">error</mat-icon> Error en
          la validación de credenciales. Revisa tus datos y volvé a intentar.
        </mat-error>
      </div>
      <div class="button-container">
        <button
          class="btn-cta-filled w-100"
          type="submit"
          [disabled]="passwordForm.invalid || isProcessing"
        >
          <span *ngIf="isProcessing; else buttonText">Procesando </span>
          <ng-template #buttonText> Continuar </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
