<div class="pop-over-content">
  <h1 class="heading-4-700">
    {{ messageTitle }}
  </h1>
  <span class="secondary-500"> {{ messageContent }}</span>
  <div class="checkbox-group" *ngIf="data.type === 'start'">
    <div class="accept-checkbox">
      <mat-checkbox
        [required]="true"
        color="primary"
        required
        [(ngModel)]="tyc"
      >
        Acepto
      </mat-checkbox>
      <span
        class="text-button-type clickable"
        (click)="openDialog('terms_balance_investment')"
      >
        TyC Cuenta Remunerada</span
      >
    </div>
    <div class="accept-checkbox">
      <mat-checkbox
        [required]="true"
        color="primary"
        required
        [(ngModel)]="rules"
        >Acepto

        <!-- <span (click)="openDialog('fci_policy')">Acepto Reglamento FCI</span> -->
      </mat-checkbox>

      <span
        class="text-button-type clickable"
        (click)="openDialog('fci_policy')"
        >Reglamento FCI</span
      >
    </div>
  </div>
  <div class="buttons-container">
    <div mat-dialog-actions>
      <button class="btn btn-link-primary cancel-btn" (click)="onCancel()">
        {{ cancelText }}
      </button>
      <button
        class="btn btn-cta-filled continue-btn"
        [disabled]="data.type === 'start' && !(tyc && rules)"
        (click)="onConfirm()"
      >
        {{ confirmText }}
      </button>
    </div>
  </div>
</div>
