<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between">
  <button
    *ngIf="sidenav && sidenav.mode === 'over' && (sideNavigation$ | async)"
    mat-icon-button
    (click)="sidenav.toggle()"
    aria-label="Menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="heading-2">{{ currentRouteName }}</h1>
  <div class="header-buttons">
    <app-slider-button
      *ngIf="toggleModeEnabled"
      [iconOptions]="true"
      [sizeHeight]="'48px'"
      [sizeWidth]="'100px'"
      [iconLeft]="'light_mode'"
      [iconRight]="'dark_mode'"
      [defaultOption]="defaultOption"
      (optionSelected)="toggleTheme($event)"
    ></app-slider-button>
    <div class="rounded-box clickable" (click)="goToHelp()">
      <mat-icon class="material-symbols-outlined">help_outline</mat-icon>
      <p class="body-2 m-0">Ayuda</p>
    </div>

    <!-- <merchants-menu></merchants-menu> -->

    <!-- <notifications-menu></notifications-menu> -->

    <button
      *ngIf="!(sidenav && sidenav.mode === 'over')"
      (click)="goToAccountInfo()"
      class="rounded-button"
      fxFlex="grow"
      mat-icon-button
      type="button"
    >
      <mat-icon class="material-symbols-outlined" aria-hidden="false">
        person
      </mat-icon>
    </button>
  </div>
</div>
