.security-options {
  margin-top: 1em;
  flex:1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #EBEBEB;
  box-shadow: none;
}
.security-option-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap:1em;
  border-bottom: 1px solid #F4F4F4;
  &.last{
    border-bottom: none;
  }

 .btn-ghost-black{
  background-color: transparent;
  align-self:baseline;
  padding:0;
  color: #161616;
 }
}
