<div class="reset-password-container">
  <div class="header">
    <h1>Elegí una nueva contraseña</h1>
  </div>

  <div class="form-container">
    <form [formGroup]="authForm">
      <mat-form-field class="custom-mat-form-field" appearance="outline">
        <mat-label>Contraseña </mat-label>
        <input
          matInput
          id="newPassword"
          formControlName="newPassword"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          tabindex="-1"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="password-requirements">
        <ul class="list-wrapper">
          <li>
            <!-- Min length check -->
            <div class="requirement-item">
              <mat-icon
                class="check-icon"
                *ngIf="
                  authForm.controls['newPassword'].dirty &&
                  authForm.controls['newPassword'].value &&
                  !hasFormError('newPassword', 'minlength')
                "
              >
                check_small
              </mat-icon>
              <mat-icon
                class="unchecked-icon"
                *ngIf="
                  !authForm.controls['newPassword'].value ||
                  hasFormError('newPassword', 'minlength')
                "
              >
                close_small
              </mat-icon>
              <span
                [ngClass]="{
                  fulfilled:
                    authForm.controls['newPassword'].dirty &&
                    authForm.controls['newPassword'].value &&
                    !hasFormError('newPassword', 'minlength'),
                }
                "
                >Mínimo 8 dígitos</span
              >
            </div>
          </li>

          <li>
            <!-- Uppercase letter check -->
            <div class="requirement-item">
              <mat-icon
                class="check-icon"
                *ngIf="
                  !hasFormError('newPassword', 'uppercase') &&
                  authForm.controls['newPassword'].dirty
                "
              >
                check_small
              </mat-icon>
              <mat-icon
                class="unchecked-icon"
                *ngIf="
                  !authForm.controls['newPassword'].dirty ||
                  hasFormError('newPassword', 'uppercase')
                "
              >
                close_small
              </mat-icon>
              <span
                [ngClass]="{
                  fulfilled:
                    !hasFormError('newPassword', 'uppercase') &&
                    authForm.controls['newPassword'].dirty
                }"
                >Incluir al menos una mayúscula</span
              >
            </div>
          </li>
          <li>
            <!-- Lowercase letter check -->
            <div class="requirement-item">
              <mat-icon
                class="check-icon"
                *ngIf="
                  !hasFormError('newPassword', 'lowercase') &&
                  authForm.controls['newPassword'].dirty
                "
              >
                check_small
              </mat-icon>
              <mat-icon
                class="unchecked-icon"
                *ngIf="
                  hasFormError('newPassword', 'lowercase') ||
                  !authForm.controls['newPassword'].dirty
                "
              >
                close_small
              </mat-icon>
              <span
                [ngClass]="{
                  fulfilled:
                    !hasFormError('newPassword', 'lowercase') &&
                    authForm.controls['newPassword'].dirty
                }"
                >Incluir al menos una minúscula</span
              >
            </div>
          </li>
          <li>
            <!-- Special character check -->
            <div class="requirement-item">
              <mat-icon
                class="check-icon"
                *ngIf="
                  !hasFormError('newPassword', 'specialCharacter') &&
                  authForm.controls['newPassword'].dirty
                "
              >
                check_small
              </mat-icon>
              <mat-icon
                class="unchecked-icon"
                *ngIf="
                  hasFormError('newPassword', 'specialCharacter') ||
                  !authForm.controls['newPassword'].dirty
                "
              >
                close_small
              </mat-icon>
              <span
                [ngClass]="{
                  fulfilled:
                    !hasFormError('newPassword', 'specialCharacter') &&
                    authForm.controls['newPassword'].dirty
                }"
                >Incluir al menos un carácter especial</span
              >
            </div>
          </li>

          <li>
            <!-- Number check -->
            <div class="requirement-item">
              <mat-icon
                class="check-icon"
                *ngIf="
                  !hasFormError('newPassword', 'number') &&
                  authForm.controls['newPassword'].dirty
                "
              >
                check_small
              </mat-icon>
              <mat-icon
                class="unchecked-icon"
                *ngIf="
                  hasFormError('newPassword', 'number') ||
                  !authForm.controls['newPassword'].dirty
                "
              >
                close_small
              </mat-icon>
              <span
                [ngClass]="{
                  fulfilled:
                    !hasFormError('newPassword', 'number') &&
                    authForm.controls['newPassword'].dirty
                }"
                >Incluir al menos un carácter numérico</span
              >
            </div>
          </li>
        </ul>
      </div>
      <mat-form-field class="custom-mat-form-field" appearance="outline">
        <mat-label>Repetir contraseña </mat-label>
        <input
          matInput
          id="confirmPassword"
          formControlName="confirmPassword"
          [type]="hideConfirm ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          tabindex="-1"
          type="button"
          (click)="hideConfirm = !hideConfirm"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirm"
        >
          <mat-icon>{{
            hideConfirm ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-button
          type="button"
          (click)="resetPassword()"
          [disabled]="!isSubmitEnabled"
        >
          Continuar
        </button>
      </div>

      <div *ngIf="errorMessage" class="pin-error-message">
        <mat-icon>error</mat-icon> {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
