<div
  class="toolbar-notifications"
  fxFlex="grow"
  fxLayout="row"
  fxLayoutAlign="start center"
>
  <div class="rounded-box">
    <mat-icon>storefront</mat-icon>
    <p class="body-2 m-0">Todos los locales</p>
    <button mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <!-- <mat-form-field>
    <mat-label>Locales</mat-label>
    <mat-select>
      <mat-option value="one">Mafalda Empanadas</mat-option>
      <mat-option value="two">Mafalda Pizzas</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
