@use '@angular/material' as mat;
@import "./mixins";

// headline-1 - Core XXXL
// headline-2 - Core XXL - heading-2
// headline-3 - Core XL
// headline-4 - Core L
// headline-5 - Core M
// headline-6 - Core S
// caption - core XXS
$config: mat.define-typography-config(
  $font-family: var(--font-family),
  $headline-1: mat.define-typography-level(56px, 96px, 400),
  $headline-2: mat.define-typography-level(36px, 47.88px, 700),
  $headline-3: mat.define-typography-level(28px, 37.24px, 700),
  $headline-4: mat.define-typography-level(24px, 31.9px, 500),
  $headline-5: mat.define-typography-level(20px, 30px, 500),
  $headline-6: mat.define-typography-level(16px, 28px, 500),
  $subtitle-1: mat.define-typography-level(16px, 20.3px, 500),
  $subtitle-2: mat.define-typography-level(14px, 20.3px, 500),
  $body-1: mat.define-typography-level(16px, 28px, 500),
  $body-2: mat.define-typography-level(16px, 24px, 600),
  $caption: mat.define-typography-level(10px, 16px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
);

:root {
  --font-family: 'Figtree', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   // Typography
  --font-weight-large: 700;
  --font-weight-medium: 500;

  --font-caption: #{mat.font-weight($config, caption)} #{mat.font-size($config, caption)}/#{mat.line-height($config, caption)} #{mat.font-family($config, caption)};
  --font-body-1: #{mat.font-weight($config, body-1)} #{mat.font-size($config, body-1)}/#{mat.line-height($config, body-1)} #{mat.font-family($config, body-1)};
  --font-body-2: #{mat.font-weight($config, body-2)} #{mat.font-size($config, body-2)}/#{mat.line-height($config, body-2)} #{mat.font-family($config, body-2)};
  --font-subheading-1: #{mat.font-weight($config, subtitle-2)} #{mat.font-size($config, subtitle-2)}/#{mat.line-height($config, subtitle-2)} #{mat.font-family($config, subtitle-2)};
  --font-subheading-2: #{mat.font-weight($config, subtitle-1)} #{mat.font-size($config, subtitle-1)}/#{mat.line-height($config, subtitle-1)} #{mat.font-family($config, subtitle-1)};
  --font-headline: #{mat.font-weight($config, headline-5)} #{mat.font-size($config, headline-5)}/#{mat.line-height($config, headline-5)} #{mat.font-family($config, headline-5)};
  --font-title: #{mat.font-weight($config, headline-6)} #{mat.font-size($config, headline-6)}/#{mat.line-height($config, headline-6)} #{mat.font-family($config, headline-6)};
  --font-display-1: #{mat.font-weight($config, headline-4)} #{mat.font-size($config, headline-4)}/#{mat.line-height($config, headline-4)} #{mat.font-family($config, headline-4)};
  --font-display-2: #{mat.font-weight($config, headline-3)} #{mat.font-size($config, headline-3)}/#{mat.line-height($config, headline-3)} #{mat.font-family($config, headline-3)};
  --font-display-3: #{mat.font-weight($config, headline-2)} #{mat.font-size($config, headline-2)}/#{mat.line-height($config, headline-2)} #{mat.font-family($config, headline-2)};
  --font-display-4: #{mat.font-weight($config, headline-1)} #{mat.font-size($config, headline-1)}/#{mat.line-height($config, headline-1)} #{mat.font-family($config, headline-1)};
}
