<span class="heading-5-600"> ¿Cuánto dinero querés transferir?</span>
<div class="transfer-form">
  <div class="amount-section heading-4-700">
    <div class="amount-display">
      <span class="symbol">$</span>
      <input
        type="text"
        inputmode="numeric"
        class="amount-input heading-4-700"
        placeholder="0,00"
        [value]="amount"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (keydown)="handleKeyDown($event)"
        #amountInput
        autofocus
      />
    </div>
  </div>
  <hr width="360px" size="1px" color="#EBEBEB" />
  <div class="available-funds">
    <div [ngClass]="{ 'exceeded-text': exceedFunds }">
      <mat-icon class="material-symbols-outlined" *ngIf="exceedFunds"
        >cancel</mat-icon
      >
      <span
        class="paragraph-500-light"
        [ngClass]="{ 'exceeded-text': exceedFunds }"
        >Tenés $ {{ availableFunds | number : "1.2-2" }} disponibles</span
      >
    </div>
  </div>
</div>
