<div class="change-password-container">
  <app-side-panel-header
    [title]="'Editar contraseña'"
    [arrowBackEnabled]="true"
    (arrowBack)="handleArrowBack()"
  ></app-side-panel-header>
  @switch (viewState) { @case ("insertPIN") {
  <div class="insert-pin-container">
    <h1 class="heading-5-600">
      Ingresá tu PIN de seguridad para editar tu contraseña
    </h1>
    <div class="section-content">
      <form [formGroup]="pinForm">
        <div class="pin-form-container">
          <div class="pin-input-container" [ngClass]="{ error: incorrectPin }">
            <input
              type="text"
              pattern="[0-9]*"
              maxlength="1"
              minlength="1"
              inputmode="numeric"
              formControlName="digit1"
              class="pin-input"
              placeholder="0"
              (keydown)="handleBackspace($event, null)"
              (input)="moveToNextField($event, digit2)"
              (keypress)="allowOnlyNumbers($event)"
              #digit1
            />
            <input
              type="text"
              pattern="[0-9]*"
              maxlength="1"
              minlength="1"
              inputmode="numeric"
              placeholder="0"
              formControlName="digit2"
              class="pin-input"
              (keydown)="handleBackspace($event, digit1)"
              (input)="moveToNextField($event, digit3)"
              (keypress)="allowOnlyNumbers($event)"
              #digit2
            />
            <input
              type="text"
              maxlength="1"
              pattern="[0-9]*"
              minlength="1"
              inputmode="numeric"
              placeholder="0"
              formControlName="digit3"
              class="pin-input"
              (keydown)="handleBackspace($event, digit2)"
              (input)="moveToNextField($event, digit4)"
              (keypress)="allowOnlyNumbers($event)"
              #digit3
            />
            <input
              type="text"
              maxlength="1"
              pattern="[0-9]*"
              minlength="1"
              placeholder="0"
              inputmode="numeric"
              formControlName="digit4"
              class="pin-input"
              (keydown)="handleBackspace($event, digit3)"
              (input)="moveToNextField($event, digit5)"
              (keypress)="allowOnlyNumbers($event)"
              #digit4
            />
            <input
              type="text"
              maxlength="1"
              pattern="[0-9]*"
              minlength="1"
              inputmode="numeric"
              placeholder="0"
              formControlName="digit5"
              class="pin-input"
              (keydown)="handleBackspace($event, digit4)"
              (input)="moveToNextField($event, digit6)"
              (keypress)="allowOnlyNumbers($event)"
              #digit5
            />
            <input
              type="text"
              maxlength="1"
              pattern="[0-9]*"
              minlength="1"
              inputmode="numeric"
              placeholder="0"
              formControlName="digit6"
              class="pin-input"
              (keydown)="handleBackspace($event, digit5)"
              (keypress)="allowOnlyNumbers($event)"
              #digit6
            />
          </div>
          <mat-error class="form-error" *ngIf="incorrectPin">
            <mat-icon class="material-symbols-outlined">error</mat-icon>
            Error en la validación de credenciales. Revisa tus datos y volvé a
            intentar.
          </mat-error>
        </div>
      </form>
    </div>
  </div>
  <app-side-panel-footer
    class="w-100"
    [buttonText]="isProcessing ? 'Validando' : 'Continuar'"
    buttonStyle="filled"
    [buttonDisabled]="pinForm.invalid || isProcessing"
    (buttonClicked)="submitPin()"
  ></app-side-panel-footer>
  } @case ("insertOTP") {
  <div class="insert-otp-container">
    <div *ngIf="OTPinputImg" [innerHTML]="OTPinputImg"></div>
    <h1 class="heading-4-700 m-0 p-0">
      Te enviamos un código al e-mail {{ email }}
    </h1>
    <p class="paragraph-500 m-0 p-0">
      Ingresalo acá para generar una nueva contraseña
    </p>
    <app-otp-form
      class="otp-form w-100"
      [timeLeft]="timeLeft"
      [resetTimer]="resetTimer"
      [clearForm]="clearForm"
      (otpSubmit)="handleOtpEvent($event)"
      (timeOut)="handleTimeOut()"
      (enableButton)="handleButtonState($event)"
    ></app-otp-form>
    <app-messages class="w-100"></app-messages>
  </div>
  <app-side-panel-footer
    class="w-100"
    [buttonText]="isProcessing ? 'Validando' : 'Continuar'"
    buttonStyle="filled"
    [buttonDisabled]="!isSubmitButtonEnabled || isProcessing || timeOut"
    (buttonClicked)="submitOtpForm()"
  ></app-side-panel-footer>
  } @case ("insertPassword") {
  <div class="insert-password-container">
    <h1 class="heading-5-600">Ingresá tu contraseña actual</h1>
    <div class="input-box" [ngClass]="{ error: incorrectPass }">
      <div class="input-data">
        <input
          class="input-edit paragraph-500"
          [(ngModel)]="passwordToValidate"
          (ngModelChange)="resetIncorrectPass()"
          placeholder="Contraseña actual"
          [type]="hidePassword ? 'password' : 'text'"
        />
      </div>
      <div class="actions-button">
        <button
          mat-icon-button
          class="outline-button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon class="material-symbols-outlined">{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
    </div>
    <mat-error class="form-error" *ngIf="incorrectPass">
      <mat-icon class="material-symbols-outlined">error</mat-icon> Error en la
      validación de credenciales. Revisa tus datos y volvé a intentar.
    </mat-error>
  </div>
  <app-messages class="w-100"></app-messages>
  <app-side-panel-footer
    class="w-100"
    [buttonText]="isProcessing ? 'Procesando' : 'Continuar'"
    buttonStyle="filled"
    [buttonDisabled]="!passwordFormIsValid() || isProcessing"
    (buttonClicked)="validatePasswordForm()"
  ></app-side-panel-footer>
  } @case ("resetPassword") {
  <div class="reset-password-container">
    <h1 class="heading-5-600">Ingresá tu nueva contraseña</h1>
    <form [formGroup]="authForm">
      <div class="form-container w-100">
        <mat-form-field appearance="outline">
          <mat-label>Nueva Contraseña </mat-label>
          <input
            matInput
            id="newPassword"
            formControlName="newPassword"
            [type]="hideNewPassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            tabindex="-1"
            (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNewPassword"
          >
            <mat-icon>{{
              hideNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="password-requirements">
          <span class="secondary-600-light">Tu contraseña debe tener:</span>
          <ul class="list-wrapper">
            <li>
              <!-- Min length check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    authForm.controls['newPassword'].dirty &&
                    authForm.controls['newPassword'].value &&
                    !hasFormError('newPassword', 'minlength')
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    !authForm.controls['newPassword'].value ||
                    hasFormError('newPassword', 'minlength')
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                        fulfilled:
                          authForm.controls['newPassword'].dirty &&
                          authForm.controls['newPassword'].value &&
                          !hasFormError('newPassword', 'minlength'),
                      }"
                  >12 dígitos</span
                >
              </div>
            </li>

            <li>
              <!-- Uppercase letter check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'uppercase') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    !authForm.controls['newPassword'].dirty ||
                    hasFormError('newPassword', 'uppercase')
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                        fulfilled:
                          !hasFormError('newPassword', 'uppercase') &&
                          authForm.controls['newPassword'].dirty,
                      }"
                  >Una letra mayúscula</span
                >
              </div>
            </li>
            <li>
              <!-- Lowercase letter check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'lowercase') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    hasFormError('newPassword', 'lowercase') ||
                    !authForm.controls['newPassword'].dirty
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                        fulfilled:
                          !hasFormError('newPassword', 'lowercase') &&
                          authForm.controls['newPassword'].dirty,
                      }"
                  >Una letra minúscula</span
                >
              </div>
            </li>
            <li>
              <!-- Number check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'number') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    hasFormError('newPassword', 'number') ||
                    !authForm.controls['newPassword'].dirty
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                        fulfilled:
                          !hasFormError('newPassword', 'number') &&
                          authForm.controls['newPassword'].dirty,
                      }"
                  >Un número</span
                >
              </div>
            </li>
            <li>
              <!-- Special character check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'specialCharacter') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    hasFormError('newPassword', 'specialCharacter') ||
                    !authForm.controls['newPassword'].dirty
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                        fulfilled:
                          !hasFormError('newPassword', 'specialCharacter') &&
                          authForm.controls['newPassword'].dirty,
                      }"
                  >Un caracter especial (!, ", #, &, %)</span
                >
              </div>
            </li>
          </ul>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Repetir contraseña </mat-label>
          <input
            matInput
            id="confirmPassword"
            formControlName="confirmPassword"
            [type]="hideConfirm ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            tabindex="-1"
            type="button"
            (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirm"
          >
            <mat-icon>{{
              hideConfirm ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-error class="form-error" *ngIf="incorrectPass">
          <mat-icon class="material-symbols-outlined">error</mat-icon> Las
          contraseñas ingresadas no coinciden. Revisalas y volvé a intentar.
        </mat-error>
      </div>
    </form>
  </div>
  <app-messages class="w-100"></app-messages>
  <app-side-panel-footer
    class="w-100"
    [buttonText]="isProcessing ? 'Procesando' : 'Confirmar cambio'"
    buttonStyle="filled"
    [buttonDisabled]="!isResetPasswordSubmitEnabled || isProcessing"
    (buttonClicked)="resetPassword()"
  ></app-side-panel-footer>
  } @case ("changeSuccess") {
  <div class="success-change w-100">
    <div *ngIf="successImg" [innerHTML]="successImg"></div>
    <h1 class="heading-4-700 m-0 p-0">¡Ya cambiaste tu contraseña!</h1>
    <p class="paragraph-500 m-0 p-0">
      Recordá que la próxima ves que ingreses, deberás usar tu nueva contraseña
    </p>
  </div>
  <app-side-panel-footer
    class="w-100"
    [buttonText]="'Volver al inicio'"
    buttonStyle="filled"
    [buttonDisabled]="false"
    (buttonClicked)="backToOptions()"
  ></app-side-panel-footer>
  } }
</div>
