.change-password-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .insert-pin-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;

    .section-content {
      padding-top: 0.5em;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: space-between;
      form {
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Ensure the form takes up remaining space */
      }

    }
  }

  .insert-otp-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .insert-password-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 1em;
    flex-direction: column;

    .input-box {
      display: flex;
      height: 56px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid #dbdbdb;

      .input-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .input-edit {
          background-color: transparent;
          display: flex;
          width: 100%;
          border: none;
          outline: none;
          flex: 1;
          &:hover,
          &:focus,
          &:active {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }
      }
      .input-box.error {
        border: 1px solid red;
      }
    }
  }

  .reset-password-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 1em;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      flex-grow: 1; /* Ensure the form takes up remaining space */
      width: 100%;

      .form-container {
        width: 100%;
        max-width: none; // Remove max-width constraint
        flex: 1;

        mat-form-field {
          width: 100%; /* Full width of the form fields container */
        }
      }
      .password-requirements {
        .list-wrapper {
          color: #6b6b6b;
          padding-left: 0;
        }
        li {
          list-style-type: none;
          padding-bottom: 1%;

          .fulfilled {
            color: #048a42;
          }
        }

        .requirement-item {
          display: flex;
          align-items: center;
        }

        .check-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
          padding-right: 4px;
          color: #048a42;
        }
        .unchecked-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
          padding-right: 4px;
          color: #a3a3a3;
        }
      }
      .form-error {
        font-size: 14px;
        line-height: 20.3px;
        font-weight: 500;
        color: #e5434a;
        display: flex;

        mat-icon {
          font-size: 16px;
          height: 16px;
          width: 16px;
          padding-right: 6px;
          margin-right: 0;
          vertical-align: middle;
          color: #e5434a;
        }
      }
    }
  }
}

.success-change {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    width: 70%;
  }
}
