@mixin message-box($background-color) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;
  color: #161616;
  padding: 16px;
  gap: 10px;
  border-radius: 12px;
  margin: 10px 0px;
  border: none;

  mat-icon {
    align-self: baseline;
    font-size: 20px;
    color: #161616;
  }
}

.error-message-box {
  @include message-box($theme-message-box-background-error);
}

.warning-message-box {
  @include message-box($theme-message-box-background-warning);
}

.success-message-box {
  @include message-box($theme-message-box-background-success);
}

.message-box-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  h1,
  span {
    color: #161616;
  }
}

.status-badge {
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 12px;
    font-weight: 600;

    &.success {
      background-color: #e2f3ea;
      color: #048a42;
    }
    &.error {
      background-color: #fce9ea;
      color: #e5434a;
    }
    &.warning {
      background-color: #f9e0b3;
      color: #ec9800;
    }
    &.cancelled {
      background-color: #f5f5f5;
      color: #ccc;
    }
    &.info {
      background-color: #EEF4FC;
      color: #417FDA;
    }
  }
}
