.snackbar-success {
  --mdc-snackbar-container-color: #26ae5f !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mdc-snackbar-container-shape: 8px;
}

.snackbar-error {
  --mdc-snackbar-container-color: #e44b52 !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mdc-snackbar-container-shape: 8px;
}

.snackbar-info {
  --mdc-snackbar-container-color: #2196f3 !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mdc-snackbar-container-shape: 8px;
}

.snackbar-warning {
  --mdc-snackbar-container-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #333 !important;
  --mdc-snackbar-container-shape: 8px;
}

