.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
}

.snackbar-success {
  background-color: #26AE5F;
  color: #fff;
}

.snackbar-error {
  background-color: #E44B52;
  color: #fff;
}

.snackbar-info {
  background-color: #2196f3; /* Adjust as needed */
  color: #fff;
}
