<div class="login-page w-100 h-100">
  <div class="header-container">
    <!-- <img
      *ngIf="!isMobile"
      src="assets/peya-content/create_card_man.svg"
      width="240px"
      alt="welcome"
    /> -->
    <div *ngIf="loginImg && !isMobile" [innerHTML]="loginImg"></div>
    <div
      *ngIf="logoUrl && isMobile"
      [innerHTML]="logoUrl"
      class="svg-logo-login-container"
    ></div>
    <!-- <img
      *ngIf="logoUrl && isMobile"
      [src]="logoUrl"
      alt="Client Logo"
      width="200"
    /> -->
    <!-- <img *ngIf="isMobile" src="assets/logo-peya-partner.svg" width="200px" /> -->
    <h1 class="heading-3-700">Te damos la bienvenida a tu cuenta digital</h1>
    <div class="feature-list" *ngIf="!isMobile">
      <div class="feature" *ngIf="login_message_shop">
        <div class="rounded-icon">
          <mat-icon class="material-symbols-outlined" color="primary"
            >local_mall</mat-icon
          >
        </div>
        <h3 class="paragraph-500-light">{{ login_message_shop }}</h3>
      </div>
      <div class="feature" *ngIf="login_message_settings">
        <div class="rounded-icon">
          <mat-icon class="material-symbols-outlined" color="primary"
            >settings</mat-icon
          >
        </div>
        <h3 class="paragraph-500-light p-0 m-0">
          {{ login_message_settings }}
        </h3>
      </div>
      <div class="feature" *ngIf="login_message_finance">
        <div class="rounded-icon">
          <mat-icon class="material-symbols-outlined" color="primary"
            >trending_up</mat-icon
          >
        </div>
        <h3 class="paragraph-500-light">{{ login_message_finance }}</h3>
      </div>
    </div>
  </div>
  <div class="login-form-container">
    <div
      *ngIf="logoUrl && !isMobile"
      [innerHTML]="logoUrl"
      class="svg-logo-login-container"
    ></div>
    <!-- <img
      *ngIf="logoUrl && !isMobile"
      [src]="logoUrl"
      alt="Client Logo"
      width="120"
      height="40"
    /> -->
    <!-- <img *ngIf="!isMobile" src="assets/logo-peya-partner.svg" width="200px" /> -->
    <div class="login-form">
      <h2 class="heading-3-700">Iniciar sesión con tu e-mail</h2>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" autocomplete="on">
        <!-- Email Field -->
        <app-reactive-input
          label="E-mail"
          [control]="getFormControl('username')!"
          [placeholder]="''"
          [type]="'email'"
          [errorMessages]="getUsernameErrors()"
          [autocomplete]="'email'"
          [name]="'username'"
        ></app-reactive-input>

        <!-- Password Field -->
        <app-reactive-input
          label="Contraseña"
          [control]="getFormControl('password')"
          [placeholder]="''"
          [type]="'password'"
          [errorMessages]="getPasswordErrors()"
        ></app-reactive-input>

        <app-reactive-input
          label="PIN"
          [control]="getFormControl('pinCode')"
          [placeholder]="''"
          [type]="'password'"
          [maxLength]="6"
          [errorMessages]="getPinCodeErrors()"
        ></app-reactive-input>

        <div *ngIf="errorMessage" class="error-message-box">
          <mat-icon class="material-symbols-outlined">cancel</mat-icon>
          <div class="message-box-content">
            <h1 class="paragraph-600 m-0 p-0">{{ errorMessageTitle }}</h1>
            <span class="secondary-500">{{ errorMessageDescription }}</span>
          </div>
        </div>
        <div *ngIf="timeoutLogout" class="warning-message-box">
          <mat-icon class="material-symbols-outlined">error_outline</mat-icon>
          <div class="message-box-content">
            <h1 class="paragraph-600 m-0 p-0">Cierre de sesión</h1>
            <span class="secondary-500"
              >Por razones de seguridad, tu última sesión se cerró por
              inactividad. Ingresá a tu cuenta nuevamente para seguir
              operando</span
            >
          </div>
        </div>

        <div
          *ngIf="isProcessing || isGuardProcessing"
          class="progress-bar-loading"
        >
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <!-- Botones -->
        <div class="button-container">
          <button
            class="btn-cta-filled btn-lg w-100"
            type="submit"
            [disabled]="!isSubmitEnabled || isProcessing || isGuardProcessing"
          >
            {{
              isProcessing || isGuardProcessing
                ? "Ingresando"
                : "Iniciar sesión"
            }}
          </button>
          <button
            type="button"
            class="btn-link-primary btn-lg w-100"
            (click)="navigateToRecoverPassword()"
          >
            Recuperar contraseña o PIN
          </button>
        </div>
      </form>
    </div>
    <app-onb-footer></app-onb-footer>
  </div>
</div>
