.pin-code-container-full {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 100dvh; /* Full viewport height */
  flex-direction: column;
  overflow: hidden; /* Prevent content from overflowing */
}

.pin-code-main-container {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.pin-code-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .section-content {
    padding-top: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

    .pin-form {
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .pin-form-container{
        flex:1;
      display: flex;
      flex-direction: column;
      }
    }
  }

  .button-container {
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    button {
      width: 100%;
      flex-grow: 1;
    }
  }
}
@media screen and (max-width: 840px) {
  .pin-code-container-full {
    height: 100dvh;
  }

  .pin-code-main-container {
    max-width: unset;
    width: 100%;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    margin-top: 0;
    flex-grow: 1; // Allow the main container to grow
  }

  .pin-code-container {
    padding: 1.5em;
    justify-content: space-between; // Space between pin inputs and button
    flex-grow: 1; // Allow the container to grow

    .pin-form {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pin-form-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; // Align pin inputs to the top
      }

      .button-container {
        position: sticky; // Stick the button to the bottom
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%; // Full width for the button container
      }
    }
  }
}
// iPhone-specific adjustments
@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .pin-code-container-full {
    height: 100dvh; /* Ensure dynamic viewport height is used */
  }

  .pin-code-container {
    padding: 20px; /* Reduce padding for smaller iPhone screens */

    .pin-form {
      .pin-form-container {
        padding-top: 10px; /* Reduce padding for smaller iPhone screens */
      }

      .button-container {
        padding: 10px; /* Reduce padding for smaller iPhone screens */
      }
    }
  }
}
