.password-recovery-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.full-content{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password-recovery-content{

  display: flex;
  flex-direction: column;
  justify-content: center;

}
// .pin-code-reset-wrapper {
//   display: flex;
//   padding: 2em 4em;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 800px;
//   border-radius: 1em;
//   box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
// }
@media screen and (max-width: 840px) {
  .password-recovery-container {
    height: unset;
    width: 100vw;
    .full-content{
      .password-recovery-content {
        min-height: unset;
        max-width: unset;
        width: 100%;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
      }
    }

  }
  // .pin-code-reset-wrapper {
  //   width: 100%;
  //   padding: 0;
  //   box-shadow: none;
  // }
}
