<div class="password-recovery-container w-100">
  <div
    *ngIf="logoUrl && !mobileMode"
    [innerHTML]="logoUrl"
    class="svg-logo-container"
  ></div>
  <div [ngSwitch]="viewState" class="full-content">
    <div class="password-recovery-content box-container w-100">
      <!-- Case 1: Show Recovery Options Form -->
      <app-recovery-selection
        [isMobile]="mobileMode"
        *ngSwitchCase="'recoveryOptionsForm'"
        (sendRecoveryOption)="selectRecoveryType($event)"
        (returnToLogin)="returnToLogin()"
      ></app-recovery-selection>

      <app-password-validation
        [isMobile]="mobileMode"
        [email]="emailOTP"
        *ngSwitchCase="'passwordValidation'"
        (returnToOpts)="returnToEmailForm()"
        (sendOtpForm)="showOTPForm()"
      ></app-password-validation>

      <app-pin-code-validation
        [isMobile]="mobileMode"
        [email]="emailOTP"
        *ngSwitchCase="'pinCodeValidation'"
        (returnToOpts)="returnToEmailForm()"
        (sendOtpForm)="showOTPForm()"
      ></app-pin-code-validation>

      <!-- Case 2: Show Mail Recovery Form -->
      <mail-recovery-form
        *ngSwitchCase="'mailForm'"
        (mailCompleted)="sendRecoveryMail($event)"
        (returnToOpts)="returnToOptions()"
        [recoveryType]="recoverOption"
        [debugMode]="debugFEMode"
        [isMobile]="mobileMode"
      ></mail-recovery-form>

      <!-- Case 3: Show Insert OTP Screen -->
      <app-insert-otp-screen
        class="w-100"
        *ngSwitchCase="'insertOTP'"
        (checkMail)="returnToEmailForm()"
        (otpValid)="goToResetCredentials()"
        [emailOTP]="emailOTP"
        [debugMode]="debugFEMode"
        [isMobile]="mobileMode"
        [recoveryType]="recoverOption"
        [notificationTitle]="notificationTitle"
        [notificationText]="notificationText"
        [notificationType]="notificationType"
      ></app-insert-otp-screen>

      <!-- Case 5: Reset Password screen -->
      <app-reset-password
        [isMobile]="mobileMode"
        *ngSwitchCase="'resetPassword'"
        (newPassValid)="newPasswordOK()"
        (returnToOptions)="returnToOptions()"
        [debugMode]="debugFEMode"
      ></app-reset-password>

      <app-reset-pin
        [isMobile]="mobileMode"
        *ngSwitchCase="'resetPinCode'"
        (pinResetCompleted)="newPINOK()"
        (pinResetBackArrow)="returnToOptions()"
        [debugMode]="debugFEMode"
      ></app-reset-pin>

      <!-- Case 6: Validación Biométrica -->
      <app-biometric-validation
        [isMobile]="mobileMode"
        *ngSwitchCase="'biometricVerification'"
        (verificationCompleted)="biometricValidationResult($event)"
        (returnToEmailForm)="returnToEmailForm()"
        [debugMode]="debugFEMode"
      ></app-biometric-validation>

      <!-- Case 7: Show Notification Screen -->
      <notification-screen
        *ngSwitchCase="'notificationScreen'"
        (resetCredentials)="resetCredentials()"
        (showOTPForm)="showOTPForm()"
        (emailForm)="returnToEmailForm()"
        [notificationTitle]="notificationTitle"
        [notificationText]="notificationText"
        [notificationType]="notificationType"
      ></notification-screen>

      <!-- Default Case: Optional, if you want to handle a fallback case -->
      <ng-container *ngSwitchDefault>
        <div>default</div>
      </ng-container>
    </div>
  </div>
  <app-onb-footer></app-onb-footer>
</div>
