@import 'swiper/element/css/effect-cards';

.order-card-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden !important;
  .loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Altura específica y más pequeña para el spinner */
    width: 100%;
    mat-spinner {
      width: 50px !important; /* Ajustar el ancho del spinner */
      height: 50px !important; /* Ajustar la altura del spinner */
    }
  }
  .card-form-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    flex: 1;

    .top {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 100%;
      flex: 1;

      &.vp-container {
        justify-content: center;
        align-items: center;

        .item-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1em;
          width: 100%;

          .item {
            display: flex;
            align-items: center;
            gap: 1em;
            width: 100%;

            p {
              text-align: left;
              margin: 0;
              width: 100%;
            }
          }
        }
      }

      .address-form-edit {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8em;
      }
      &.success {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width: 100%;
        text-align: center;

        p {
          display: flex;
          width: 70%
        }

        .btn-link {
          display: flex;
          width: unset;
          align-items: center;
        }
      }

    }
    mat-radio-group {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      gap: 1em;
      width: 100%;

      .hint {
        color: #666;
        font-size: 12px;
      }

      mat-radio-button {
        width: 100%;

        ::ng-deep .mdc-form-field {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .mdc-label {
            display: flex;
            width: 100%;
          }
        }
      }
    }
    a {
      display: inline;
      white-space: nowrap;
      //text-decoration: none; // Optional: removes underline
    }



  }

}
