@import "../../../@fe-treasury/styles/var";

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Ensures it covers the full viewport height */
  width: 100dvw;
  overflow-x: hidden;
  box-sizing: border-box; /* Includes padding and border in size */
}

.mat-sidenav-container {
  height: 100dvh; /* Ensure the container takes full viewport height */
}

.content-container {
  //background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures it stretches to fill available space */
  //min-height: 100vh;  /* Ensure full viewport height */
  overflow-y: auto; /* Avoid double scrollbars */
  overflow-x: hidden;
  box-sizing: border-box; /* Includes padding and border in size */
  .content-inner {
    flex: 1; /* Pushes the footer to the bottom if content is short */
    padding: 1.5em 2.5em;
    max-width: 100%;
    box-sizing: border-box; /* Include padding in height calculations */
    @media screen and (max-width: 599px) {
      padding: 5em 1em 1em 1em;
    }
  }
  .footer {
    text-align: left;
    padding: 0.5em 2.5em;
    //background-color: white;
    box-sizing: border-box;
  }
}

/* Style the mat-sidenav */
.side-panel-sidenav {
  width: $sidepanel-width;
  height: 100dvh; /* Full viewport height */
  padding: 2em;
  overflow: hidden;
  box-shadow: none;

  &.padding-zero {
    padding: 0;
  }

  @media (max-width: 599px) {
    width: 100dvw;
    padding: 1em;
  }

  .side-panel-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}

.nav-sidebar {
  height: 100dvh; /* Full viewport height */
  overflow-y: hidden; /* Allow the sidenav to scroll if content overflows */
  width: 280px; /* Default width for desktop */

  @media (max-width: 599px) {
    width: 80%; /* Adjust sidenav width for mobile */
  }
  .sidenav-toolbar-mobile {
    margin-bottom: 1em;
  }
  .sidenav-toolbar {
    padding: 1.5em 2.5em;
    margin-bottom: 2em;
    height: 2.5em;
  }

  .sidenav-toolbar-logo {
    cursor: pointer;
    margin-bottom: -5px;
  }
  .sidenav-toolbar-profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1em;
    border-bottom: 1px solid #f4f4f4;
    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }
    .item-text {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      flex-grow: 1;
    }
    .btn-ghost-black {
      background-color: transparent;
      align-self: baseline;
      padding: 0;
      color: #161616;
    }
  }
  .nav-list-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px); /* Adjust height to account for toolbar and other elements */
    overflow-y: auto; /* Allow the list to scroll if content overflows */
    mat-list-item {
      padding: 0;
    }
  }

  .nav-item-wrapper {
    padding-left: 2em;
    margin-left: 2px;
    width: 208px;
    height: 1.5em;
  }

  .nav-item-wrapper-extra {
    padding-left: 1em;
    display: flex;
    align-items: center; /* Vertically center all items */
    justify-content: space-between; /* Space out items */
    width: 100%; /* Ensure the container takes full width */
  }

  .material-symbols-outlined {
    vertical-align: middle; // Align icon to middle
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .name {
    padding: 0 0.5em; /* Add spacing between text and toggle */
  }

  .slide-toggle {
    align-self: flex-start;
    margin-left: auto; /* Push the toggle to the right */
  }

  .sidenav-menu-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-left: 0px;

    .sidenav-item-link {
      height: 2.5em;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      display: flex;
      align-items: center;

      .material-symbols-outlined {
        vertical-align: middle; // Align icon to middle
        width: 24px;
        height: 24px;
        font-size: 24px;
      }

      .name {
        padding-left: 24px;
      }
    }
    .disabled-link {
      color: rgb(218, 127, 127);
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}

@media (max-width: 599px) {
  .nav-sidebar {
    width: 80%; /* Adjust sidenav width for mobile */
  }

  .nav-list-wrapper {
    height: calc(100dvh - 150px); /* Adjust height for mobile */
  }
}
