.payment-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;

  .right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
}


// Diseño responsive para Mobile (columnas)
@media (max-width: 768px) {
  .payment-container {
    flex-direction: column; // Cambia a columnas en móviles
    gap: 15px;
    padding: 10px;
  }

  .right-panel {
    width: 100%; // Ocupa todo el ancho
  }
}

 .spinner-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   //padding: 80px 0px
 }