.custom-slide-toggle {
  display: flex;
  align-items: center;

  .toggle-icon {
    font-size: 24px;
    margin: 0 8px; // Space between the icons and the text

    &.moon-icon {
      color: #555; // Moon color (dark theme)
    }

    &.sun-icon {
      color: #fbc02d; // Sun color (yellow theme)
    }
  }

  mat-slide-toggle-bar {
    background-color: #ccc;
  }

  mat-slide-toggle-thumb {
    background-color: #fbc02d; // Thumb color (e.g., yellow for sun)
  }
}

// Optionally style the "before" label position for a consistent look
.custom-slide-toggle[labelPosition="before"] {
  flex-direction: row-reverse;
}
