<mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
<!-- <p>
  <mat-slide-toggle class="custom-slide-toggle">
    <mat-icon class="toggle-icon moon-icon">brightness_2</mat-icon>

    <mat-icon class="toggle-icon sun-icon">wb_sunny</mat-icon>

  </mat-slide-toggle>
</p>
<p>
  <mat-slide-toggle class="custom-slide-toggle" labelPosition="before">
    <mat-icon class="toggle-icon moon-icon">brightness_2</mat-icon>
    <mat-icon class="toggle-icon sun-icon">wb_sunny</mat-icon>
  </mat-slide-toggle>
</p> -->
