@if(investmentsFailure){
<app-general-failure [backToStartEnable]="true"></app-general-failure>
}@else{
<div class="content" *ngIf="!isMobile; else mobileLayout">
  <span class="left-side">
    <app-available (generalFailure)="getFailureStatus($event)"></app-available>
    <app-know-more-investments></app-know-more-investments>
  </span>

  <span class="right-side">
    <app-returns class="returns"></app-returns>
  </span>
</div>

<ng-template #mobileLayout>
  <div class="content">
    <app-available (generalFailure)="getFailureStatus($event)"></app-available>
    <app-returns class="returns"></app-returns>
    <app-know-more-investments></app-know-more-investments>
  </div>
</ng-template>
}
