
.content {
  display: flex;
  gap: 16px;

  .left-side {
    width: 416px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .right-side {
    flex-grow: 1; /* Take the remaining space */
    display: flex;
    flex-direction: column; /* Ensure content is vertically aligned */
    gap: 1em;

    .returns {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 1em;
    }
  }
}


h2,p {
  margin: 0;
}


@media screen and (max-width: 1120px) {
  .content {
    flex-direction: column;
    gap: 16px;

  }
}
