.edit-payment-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    overflow-x: hidden;
    height: 100%;
}

.sticky-button-container {
    position: sticky;
    bottom: 0;
    margin-top: auto; // Pushes everything above and keeps button at the bottom
}


.payment-link-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    margin-top: 50px;
    .product-input {
        width: 95%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #d1d1d1;
        font-size: 14px;
        outline: none;

        &:focus {
            border-color: #fa0050;
            box-shadow: 0 0 0 3px rgba(250, 0, 80, 0.2);
        }
    }

    .toggle-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #6b6b6b;

        .mat-slide-toggle {
            transform: scale(0.9);
        }
    }

    
}