.terms-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  .content-file {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
}
