.general-failure {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  .text-content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    p,h2{
      width: 80%;
    }
  }
  .button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
  }

  .hidden {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
}

@media screen and (max-width: 800px) {
  .general-failure{
    height: 85vh;
    .text-content{
      p,h2{
        width: 100%;
      }
    }
    .button-container{
      margin-bottom: 2em;
      gap: 0.5em;
      width: 100%;
    }
  }
}
