<div class="start-page">
  <div class="image-container">
    <img src="assets/peya-start.png" alt="Start Page Image" />
  </div>
  <div class="content">
    <h1>Llegó tu cuenta digital</h1>
    <p>
      Seguí el detalle de los movimientos de tus pagos y cobros de
      <b>Mafalda Empanadas</b>
    </p>
    <div class="buttons">
      <button
        mat-button
        class="default-filled-button"
        (click)="goToStep('register')"
      >
        Crear cuenta
      </button>
      <button mat-flat-button class="default-link-button">Conocer más</button>
    </div>
  </div>
</div>
