.custom-snackbar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //color: #fff;

  .message {
    flex: 1;
    margin-right: 8px;
  }

  .cross-button {
    color: #fff;
  }
}
