<div [ngSwitch]="viewState" class="password-recovery-main-container">
  <!-- Case 1: Show Recovery Options Form -->
  <app-recovery-selection
    [isMobile]="mobileMode"
    *ngSwitchCase="'recoveryOptionsForm'"
    (sendRecoveryOption)="selectRecoveryType($event)"
    (returnToLogin)="returnToLogin()"
  ></app-recovery-selection>

  <!-- Case 2: Show Mail Recovery Form -->
  <mail-recovery-form
    *ngSwitchCase="'mailForm'"
    (mailCompleted)="sendRecoveryMail($event)"
    (returnToOpts)="returnToOptions()"
    [recoveryType]="recoverOption"
    [debugMode]="debugFEMode"
    [isMobile]="mobileMode"
  ></mail-recovery-form>

  <!-- Case 3: Show Insert OTP Screen -->
  <app-insert-otp-screen
    *ngSwitchCase="'insertOTP'"
    (checkMail)="returnToEmailForm()"
    (otpValid)="goToResetCredentials()"
    [debugMode]="debugFEMode"
    [isMobile]="mobileMode"
    [notificationTitle]="notificationTitle"
    [notificationText]="notificationText"
    [notificationType]="notificationType"
  ></app-insert-otp-screen>

  <!-- Case 5: Reset Password screen -->
  <app-reset-password
    *ngSwitchCase="'resetPassword'"
    (newPassValid)="newPasswordOK()"
    [debugMode]="debugFEMode"
  ></app-reset-password>

  <div *ngSwitchCase="'resetPinCode'" class="pin-code-reset-wrapper">
    <app-pin-code
      *ngSwitchCase="'resetPinCode'"
      [onboardingPartner]="'PEYA'"
      [pinCodeMode]="'reset'"
      (pinResetOK)="newPINOK()"
      [debugMode]="debugFEMode"
    ></app-pin-code>
  </div>

  <!-- Case 6: Validación Biométrica -->
  <app-biometric-validation
    *ngSwitchCase="'biometricVerification'"
    (verificationCompleted)="biometricValidationResult($event)"
    [debugMode]="debugFEMode"
  ></app-biometric-validation>

  <!-- Case 7: Show Notification Screen -->
  <notification-screen
    *ngSwitchCase="'notificationScreen'"
    (resetCredentials)="resetCredentials()"
    [notificationTitle]="notificationTitle"
    [notificationText]="notificationText"
    [notificationType]="notificationType"
  ></notification-screen>

  <!-- Default Case: Optional, if you want to handle a fallback case -->
  <ng-container *ngSwitchDefault>
    <div>default</div>
  </ng-container>
</div>
