// .auth-wrapper-container .password-recovery-main-container {
//   display: flex;
//   padding: 2em 4em;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 800px;
//   border-radius: 1em;
//   box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
// }
// @media screen and (max-width: 840px) {
//   .auth-wrapper-container .password-recovery-main-container {
//     width: 100%;
//     padding: 0;
//     box-shadow: none;
//   }
// }

.pin-code-reset-wrapper {
  display: flex;
  padding: 2em 4em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  border-radius: 1em;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 840px) {
  .pin-code-reset-wrapper {
    width: 100%;
    padding: 0;
    box-shadow: none;
  }
}
