<div class="reset-password-container">
  <app-custom-header-onb
    [isMobile]="isMobile"
    [title]="'Elegí una nueva contraseña'"
    (arrowBack)="returnArrow()"
  ></app-custom-header-onb>
  <div class="section-content">
    <form [formGroup]="authForm">
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Nueva Contraseña </mat-label>
          <input
            matInput
            id="newPassword"
            formControlName="newPassword"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            tabindex="-1"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="password-requirements">
          <span class="secondary-600-light">Tu contraseña debe tener:</span>
          <ul class="list-wrapper">
            <li>
              <!-- Min length check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    authForm.controls['newPassword'].dirty &&
                    authForm.controls['newPassword'].value &&
                    !hasFormError('newPassword', 'minlength')
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    !authForm.controls['newPassword'].value ||
                    hasFormError('newPassword', 'minlength')
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                  fulfilled:
                    authForm.controls['newPassword'].dirty &&
                    authForm.controls['newPassword'].value &&
                    !hasFormError('newPassword', 'minlength'),
                }
                "
                  >12 dígitos</span
                >
              </div>
            </li>

            <li>
              <!-- Uppercase letter check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'uppercase') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    !authForm.controls['newPassword'].dirty ||
                    hasFormError('newPassword', 'uppercase')
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                    fulfilled:
                      !hasFormError('newPassword', 'uppercase') &&
                      authForm.controls['newPassword'].dirty
                  }"
                  >Una letra mayúscula</span
                >
              </div>
            </li>
            <li>
              <!-- Lowercase letter check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'lowercase') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    hasFormError('newPassword', 'lowercase') ||
                    !authForm.controls['newPassword'].dirty
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                    fulfilled:
                      !hasFormError('newPassword', 'lowercase') &&
                      authForm.controls['newPassword'].dirty
                  }"
                  >Una letra minúscula</span
                >
              </div>
            </li>
            <li>
              <!-- Number check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'number') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    hasFormError('newPassword', 'number') ||
                    !authForm.controls['newPassword'].dirty
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                    fulfilled:
                      !hasFormError('newPassword', 'number') &&
                      authForm.controls['newPassword'].dirty
                  }"
                  >Un número</span
                >
              </div>
            </li>
            <li>
              <!-- Special character check -->
              <div class="requirement-item">
                <mat-icon
                  class="check-icon"
                  *ngIf="
                    !hasFormError('newPassword', 'specialCharacter') &&
                    authForm.controls['newPassword'].dirty
                  "
                >
                  check_small
                </mat-icon>
                <mat-icon
                  class="unchecked-icon"
                  *ngIf="
                    hasFormError('newPassword', 'specialCharacter') ||
                    !authForm.controls['newPassword'].dirty
                  "
                >
                  radio_button_unchecked
                </mat-icon>
                <span
                  class="secondary-600-light"
                  [ngClass]="{
                    fulfilled:
                      !hasFormError('newPassword', 'specialCharacter') &&
                      authForm.controls['newPassword'].dirty
                  }"
                  >Un caracter especial (!, ", #, &, %)</span
                >
              </div>
            </li>
          </ul>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Repetir contraseña </mat-label>
          <input
            matInput
            id="confirmPassword"
            formControlName="confirmPassword"
            [type]="hideConfirm ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            tabindex="-1"
            type="button"
            (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirm"
          >
            <mat-icon>{{
              hideConfirm ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-error class="form-error" *ngIf="incorrectPass">
          <mat-icon class="material-symbols-outlined">error</mat-icon> Las
          contraseñas ingresadas no coinciden. Revisalas y volvé a intentar.
        </mat-error>
      </div>
      <div class="button-container">
        <button
          class="btn-cta-filled w-100"
          type="button"
          (click)="resetPassword()"
          [disabled]="!isSubmitEnabled || isProcessing"
        >
          Continuar
        </button>
      </div>
    </form>
  </div>
</div>
