.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px; /* Altura específica y más pequeña para el spinner */
  width: 100%;
}

mat-spinner {
  width: 50px !important; /* Ajustar el ancho del spinner */
  height: 50px !important; /* Ajustar la altura del spinner */
}

.international-balance-card {
  text-align: left;
  margin: 0 auto;
}

.balance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-header h2 {
  text-align: left;
}

.balance-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
